<html lang="en">
    <!-- https://5balloons.info/post-form-data-to-api-using-axios-in-vuejs/ 
    https://5balloons.info/post-form-data-to-api-using-axios-in-vuejs/
    https://codepen.io/edvaldolima/pen/evzWor
    https://gist.github.com/richardblondet/ce87a397ef669d4d25dd21ea02b9dda1
    -->
<head>
  <title>Form konversi prodi Informatika 2022</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
 
</head>
<body>
<div class="container">
        <p style="text-align: center;"><img src="https://drive.google.com/u/0/uc?id=19wQb9EOG5DIQJ3jTppyQf6NWoVTw-kVj&amp;export=download" alt="" width="750" /></p>
        <h1 style="text-align: center;">PENGAJUAN KLAIM KONVERSI SKS - MBKM</h1>
</div>
<div class="container" id="app">  
    <input v-model="access_id" placeholder="ACCESS ID">
    <button v-on:click="onClickButtonCari">Cari</button>
    <br>
    <p style="white-space: pre-line;">{{ access_id_message }}</p>
  <p>
      <strong>IDENTITAS</strong><br>
      nama : {{profile.name}}<br>
      NIM : {{profile.nim}}<br>
      Kegiatan : {{profile.kegiatan}}
  </p>  
  <div class="panel-group">
    <div class="panel panel-primary">
     <div class="panel-heading">Form konversi prodi Informatika 2022</div>                  
        <div class="panel-body"> 
            <i class="fa fa-plus pull-right"  @click="addRow" style="font-size:25px;color:#337ab7;cursor:pointer"></i>
            
            <form v-on:submit.prevent="submitForm">
            <table class="table table-bordered">
            <thead class="text text-success">
                <tr>                            
                    <th>Objective</th>
                    <th>Durasi</th>
                    <th>Kode Matkul</th>
                    <th>Nama Matkul</th>
                    <th>SKS Matkul</th>
                    <th>Nilai Angka</th>
                    <th>Nilai Huruf</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                   <tr v-for='(user, index) in items'>                            
                    <td>
                    <input  v-model="user.objective"  class="form-control" type="text" />
                    </td>
                    <td>
                    <input v-model="user.durasi" class="form-control" type="text" />
                    </td>
                    <td>
                    <input v-model="user.kode" class="form-control" type="text"/>
                    </td>
                    <td>
                    <input v-model="user.matkul" class="form-control" type="text"/>
                    </td>
                    <td>
                    <input v-model="user.sks" class="form-control" type="text"/>
                    </td>
                    <td>
                    <input v-model="user.angka" class="form-control" type="text"/>
                    </td>
                    <td>
                    <input v-model="user.huruf" class="form-control" type="text"/>
                    </td>
                    <td>
                    <i  @click="deleteRow(index)" class="fa fa-remove" style="font-size:25px;color:red;cursor:pointer"></i>
                    </td>
                </tr>                        
        </tbody>
    </table>
    
    <div class="form-group">
        <button class="btn btn-primary">Submit</button>
    </div>
</form>
        </div>                        
        </form>
      </div>
    </div>
</div>
<script >
 var app = new Vue({
     
   el: '#app',
   data: {
    access_id:"",
    access_id_message:"ew",
    profile:{name:'waiting...',nim:'waiting..',kegiatan:'waiting..'},
    items:[{id:'',objective:'',durasi:'',kode:'',matkul:'',sks:'',angka:'',huruf:''}]     
   },
   methods: {
    addRow: function() {   
       var randomId = Math.floor(100000 + Math.random() * 900000);
       this.items.push({id:randomId, objective:'',durasi:'',kode:'',matkul:'',sks:'',angka:'',huruf:''})
    },
    deleteRow(index){    
        this.items.splice(index,1);             
    },
    submitForm(){
        console.log("klik "+JSON.stringify(this.items));
    },
    onClickButtonCari 
   }   
  })
  function onClickButtonCari(){
        console.log("klik "+JSON.stringify(this.access_id));
        access_id_message="hasil tidak ditemukan";

        var baseUrl = "https://script.google.com/macros/s/AKfycby7GHvElJlwVepJl-d2iq66ZhtNcBoesml8rZVekFK7VIDivQ4qzCr-jLPeqfdLo_Xr/exec"
        var urlProfile = baseUrl+"?action=1&sr=001/FIK-IF/AMIKOM/REK.STUIND/07/2021";
        var urlKonversi = baseUrl+"?action=2&sr=001/FIK-IF/AMIKOM/REK.STUIND/07/2021";
        axios.get(urlProfile)
            .then(function (response) {
                // handle success
                if(response.data.status){
                    
                var _profil=response.data.data.shift();
                app.profile.name=_profil.nama;
                app.profile.nim=_profil.nim;
                app.profile.kegiatan=_profil.jenis_rekomendasi;

                }
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .then(function () {
                // always executed
            });
        axios.get(urlKonversi)
            .then(function (response) {
                // handle success
                if(response.data.status){
                
                
                var _items=response.data.data;
                app.items=[];
                _items.forEach(function(e,i){
                    app.items.push({id:e.id,objective:e.objective,durasi:e.durasi,kode:e.kode_makul,sks:e.sks,matkul:e.makul,angka:e.angka,huruf:e.huruf})
                    console.log(e);
                });

                }
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .then(function () {
                // always executed
            });
 }   
 </script>
 </body>
 </html> 